html{
	scroll-behavior: smooth;
}
.linhaReferencia{
	height: 26px;
}
.iconeMeuTimao{
	width: 20px;
	height: auto;
}
.iconeCorinthians{
	width: 50px;
	height: auto;
	margin: 0px 0.6em 0px 0px;
	padding: 0px;
}
.iconeCorinthiansSm{
	width: 25px;
	height: auto;
}
.iconeCorinthiansLg{
	width: 75px;
	height: auto;
}
.TrofeuRodape{
	width: 50px;
}
.sombra{
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
	bottom: 0px;
	width: 100%;
	height: 130px;
	position: absolute;
}
.sombra2{
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%);
	bottom: 0px;
	width: 100%;
	height: 130px;
	position: absolute;
}
.Ponteiro{
	cursor: pointer;
}
.RedeSocialBola{
	width: 50px;
	height: 50px;
}
.RedeSocialLogo{
	transform: translateY(11px);
}
.bg-black{
	background-color: #000;
}

.nomeCampeonato{
	height: 180px;
}

@media only screen and (max-width: 767px) {
  .nomeCampeonato{
	height: 12vw;
}
}
@media only screen and (max-width: 600px) {
  .nomeCampeonato{
	height: 13vw;
}
}
@media only screen and (max-width: 550px) {
  .nomeCampeonato{
	height: 14vw;
}
}
@media only screen and (max-width: 459px) {
  .nomeCampeonato{
	height: 23vw;
}
}
@media only screen and (max-width: 440px) {
  .nomeCampeonato{
	height: 25vw;
}
}